.sidebar {
  padding: 25px 0px 20px 20px;
  .sidebar-heading {
    font-size: 1.25em;
  }
  .sidebar-description {
    padding-top: 20px;
    font-size: 0.875em;
  }
  .sidebar-navbar {
    padding: 20px 0;
    font-size: 0.875em;
    .nav-header {
      border-bottom: 1px solid #ccc;
      cursor: pointer;
    }
    .nav-item {
      padding: 10px 0;
      .nav-panel {
        display: none;
        ul {
          padding-left: 20px;
          li {
            list-style-type: none;
          }
        }
        &.active {
          display: block;
        }
        label {
          margin-bottom: 0em;
        }
      }
    }
  }
}
